.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

.tab {
  padding: 0.5rem 0.3rem;
  cursor: pointer;
  color: #9197a4;
  transition: background-color 0.3s ease;
  position: relative;
}
.tabBTN {
  background: none;
  color: #9197a4;
  font-size: 1.4rem;
}
.tab :hover {
  background: #ffffff;
}

.notificationBadge {
  position: absolute;
  top: -5px;
  right: -5px;
  background: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 0.8rem;
  font-weight: bold;
}

.popup {
  position: absolute;
  top: 50px;
  right: 0;
  left: -75px;
  background: #e0e0e0;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 250px;
  z-index: 1000;
  transition: all 0.3s ease;
}

.popupHeader {
  display: flex;
  border-bottom: 1px solid #ccc;
}

.settingsPopup {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #e0e0e0;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 200px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1001;
}

.settingButton {
  display: block;
  width: initial;
  background: #f7f7f7;
  color: black;
  border: none;
  padding: 10px;
  text-align: left;
  font-size: 0.95rem;
  margin-bottom: 5px;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease;
  text-decoration: none;
}

.settingButton:hover {
  background-color: #dcdcdc;
}

.tradePopup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 20px;
  z-index: 1001;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: 300px;
  text-align: center;
}

.tradePopup h3 {
  margin: 0 0 10px;
  font-size: 1.5rem;
  color: #333;
}

.tradePopup p {
  font-size: 1.2rem;
  color: #555;
}

.closeButton {
  background: #ff4d4d;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 15px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.closeButton:hover {
  background: #cc0000;
  transform: scale(1.05);
}

.closeButton:active {
  transform: scale(0.95);
}

.tabButton {
  flex: 1;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  background: gray;
  border: none;
  outline: none;
  font-size: 0.9rem;
  transition: background 0.3s, color 0.3s;
  border-radius: 0;
}

.tabButton:hover {
  background: darkgray;
}

.activeTabButton {
  background: black;
  color: white;
  font-weight: bold;
}

.activeTabButton:hover {
  background: #333;
}

.popupContent {
  padding: 10px;
  max-height: 150px;
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 230px;
  word-wrap: break-word;
}

.popupItem {
  margin: 5px 0;
  font-size: 0.85rem;
  color: #333;
}

.emptyContent {
  text-align: center;
  color: #888;
  font-size: 0.9rem;
  padding: 10px;
}

.newsItem {
  margin-bottom: 10px;
  border: none;
  border-radius: 6px;
  padding: 3px 0;
}

.newsTitle {
  margin: 0;
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 5px;
  color: #222;
  white-space: normal;
}

.newsContent {
  margin: 0;
  font-size: 0.95rem;
  color: #444;
  line-height: 1.6;
  white-space: normal;
}

@media (max-width: 768px) {
  .tab {
    padding: 0;
  }

  .tabs {
    padding: 0;
    gap: 0;
  }
  .tabBTN {
    padding: 0;
    padding: 6px 12px;
    color: black;
    cursor: pointer;
    height: 50px;
    font-size: 1.5rem;
    background: rgb(224, 224, 224);
    border-radius: 0%;
    border: 1px solid;
    border-image: linear-gradient(to top, rgba(0, 0, 0, 0.2), transparent) 1;
  }

  .popup {
    top: 40px;
    left: auto;
  }
}

@media (max-width: 480px) {
  .tabs {
    gap: 0;
  }
  .popup {
    top: 50px;
    left: auto;
  }
  .tabBTN {
    padding: 6px 7px;
  }
}
