.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
}

.Page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding-top: 2rem;
  width: 100%;
}

.logoHolder {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 0.5rem;
  text-align: center;
}

.logo {
  height: 80px;
  margin-left: 3rem;
}

.navItems {
  margin-right: 3rem;
  display: flex;
  gap: 10px;
  align-items: center;
}

.loginButton a,
.registerButton a {
  padding: 0.5rem 4rem;
  text-decoration: none;
  font-weight: 800;
  font-size: 23px;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.loginButton a {
  background: linear-gradient(90deg, #66b544, #1a391d);
  box-shadow: 0px 1px 5px rgba(10, 192, 4, 0.5);
  color: white;
}

.registerButton a {
  background: linear-gradient(90deg, #ff1600, #990d00);
  box-shadow: 0px 1px 5px rgba(247, 4, 36, 0.5);
  color: white;
}

@media (max-width: 768px) {
  .logo {
    margin-left: 1rem;
  }
  .navItems {
    margin-right: 1rem;
  }
  .loginButton a,
  .registerButton a {
    font-size: 14px;
    padding: 0.5rem 1.5rem;
  }
  .container,
  .Page {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
    padding: 0 5px;
  }
}

@media (max-width: 480px) {
  .logo {
    height: 36px;
  }
  .loginButton a,
  .registerButton a {
    font-size: 12px;
    padding: 0.3rem 0.7rem;
  }
  .container,
  .Page {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
    padding: 0 2px;
  }
}
