.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

.top {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.balance {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border-radius: 10px;
  background-color: #1e1f25;
  box-sizing: border-box;
}

.balance p {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.balance h1 {
  font-size: 2rem;
  margin: 0.5rem 0;
}

.withdrawalLink {
  background: linear-gradient(90deg, #66b544, #1a391d);
  padding: 0.8rem;
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  border-radius: 5px;
  margin-top: 1rem;
}

.earning {
  margin-top: 1rem;
  background-color: #1f1f1f;
  padding: 1rem;
  border-radius: 5px;
}

.earning p {
  color: #909090;
  margin: 0;
  font-size: 1rem;
}

.earning span {
  color: white;
  font-size: 1rem;
  margin-top: 0;
}

.partnerLink {
  width: 100%;
  background-color: #e0e0e0;

  border-radius: 10px;
  margin-top: 1rem;
}

.topBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  box-sizing: border-box;
}

.header {
  font-size: 1.1rem;
}

.headerIcon {
  position: relative;
  top: 3px;
  transform: rotate(90deg);
  font-weight: bolder;
}

.option {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.option button {
  background-color: #3f474c;
  color: white;
  border: none;
  padding: 0.3rem 0.8rem;
  border-radius: 20px;
  cursor: pointer;
  font-size: 0.8rem;
}

.linkContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  text-align: center;
}

.linkContainer span {
  color: #067be8;
  font-size: 1rem;
  word-break: break-all;
}

.copyButton {
  color: #067be8;
  margin: 0.7rem 0;
  font-size: 1rem;
  background: none;
  border: none;
  cursor: pointer;
}

.generate {
  background: linear-gradient(90deg, #66b544, #1a391d);
  color: white;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.line {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
}

.statsBox {
  flex: 1 1 calc(50% - 1rem);
  min-width: 120px;
  background-color: #e0e0e0;
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  text-align: left;
  box-sizing: border-box;
}
.statsBox:last-child {
  text-decoration: none;
  background: linear-gradient(90deg, #66b544, #1a391d);
  align-items: center;
  svg {
    font-size: 58px;
    color: white;
  }
  p {
    font-size: 30px;
    font-weight: bold;
    background: linear-gradient(90deg, #66b544, #1a391d);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-color: white;
    padding: 0.5rem 1rem;
    border-radius: 30px;
  }
}

.statsBox svg {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.statsBox p {
  margin: 0;
  font-size: 1.2rem;
  margin-bottom: 0.3rem;
}

.statsBox span {
  font-size: 1rem;
  font-weight: bold;
}

@media (min-width: 768px) {
  .top {
    flex-direction: row;
  }

  .balance {
    width: 50%;
  }

  .partnerLink {
    width: 50%;
    margin-top: 0;
  }

  .statsBox {
    flex: 1 1 calc(25% - 1rem);
    padding: 1.5rem;
  }

  .balance p,
  .earning p,
  .earning span {
    font-size: 1.1rem;
  }

  .balance h1 {
    font-size: 2.2rem;
  }

  .withdrawalLink {
    font-size: 1.3rem;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 1400px;
    margin: 0 auto;
  }

  .balance {
    padding: 2rem;
  }

  .statsBox {
    padding: 2rem;
  }

  .statsBox p {
    font-size: 0.9rem;
  }

  .statsBox span {
    font-size: 1.2rem;
  }

  .header {
    font-size: 1.3rem;
  }

  .option button {
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
  }

  .linkContainer span {
    font-size: 1.2rem;
  }
}

.pLink,
.pCode {
  color: white;
  border: none;
  padding: 0.3rem 0.8rem;
  border-radius: 20px;
  cursor: pointer;
  font-size: 0.8rem;
  background-color: #3f474c;
}
.pCode {
  background-color: #3f474c66;
  color: black;
}
