.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  max-width: 1400px;
}

.homeDescription {
  font-size: 70px;
  text-align: center;
  color: white;
  font-weight: bold;
  margin-bottom: 0.5rem;
  width: 80%;
  margin-top: 3rem;
}

.homeParagraph {
  font-size: 21px;
  text-align: center;
  color: #a6a6a6;
  margin-bottom: 1.5rem;
  width: 80%;
}

.homeButton {
  margin-bottom: 2rem;
}

.homeButton a {
  padding: 1.2rem 4rem;
  font-size: 1rem;
  text-decoration: none;
  font-weight: 500;
  border-radius: 2rem;
  transition: all 0.3s ease;
  background-color: #10a055;
  box-shadow: 0px 1px 5px rgba(10, 192, 4, 0.3);
  color: white;
}

.homeButton a:hover {
  background-color: #1adf79;
}

.homeImage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.Image {
  width: 90%;
  max-width: 600px;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

@media (max-width: 768px) {
  .homeDescription {
    font-size: 23px;
    margin-bottom: 1rem;
  }

  .homeParagraph {
    font-size: 16px;
    margin-bottom: 2rem;
  }
}
