/* Base Styles (Mobile First) */
.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  width: 100%;
  height: 85vh;
  max-width: 1400px;
}

.homeDescription {
  font-size: 26px;
  text-align: center;
  color: white;
  font-weight: bold;
  margin-bottom: 0.5rem;
  width: 80%;
  margin-top: 3rem;
}

.homeParagraph {
  font-size: 20px;
  text-align: center;
  color: #a6a6a6;
  margin-bottom: 1.5rem;
  width: 80%;
  
}

.homeButton {
  margin-bottom: 2rem;
}

.homeButton a {
  padding: 1.2rem 4rem;
  font-size: 1rem;
  text-decoration: none;
  font-weight: 500;
  border-radius: 2rem;
  transition: all 0.3s ease;
  background-color: #10a055;
  box-shadow: 0px 1px 5px rgba(10, 192, 4, 0.3);
  color: white;
}

.homeButton a:hover {
  background-color: #1adf79;
}

.homeImage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.Image {
  width: 90%;
  max-width: 600px;
}

/* Tablets (>= 600px) */
@media screen and (min-width: 600px) {
  .homeDescription {
    font-size: 42px;
  }

  .homeParagraph {
    font-size: 18px;
  }

  .homeButton a {
    font-size: 1.1rem;
    padding: 0.7rem 2.5rem;
  }

  .Image {
    width: 80%;
  }
}

/* Small Laptops (>= 768px) */
@media screen and (min-width: 768px) {
  .homeDescription {
    font-size: 50px;
  }

  .homeParagraph {
    font-size: 19px;
  }

  .homeButton a {
    font-size: 1.15rem;
    padding: 0.8rem 3rem;
  }
}

/* Desktops (>= 1024px) */
@media screen and (min-width: 1024px) {
  .homeDescription {
    font-size: 60px;
  }

  .homeParagraph {
    font-size: 20px;
  }

  .homeButton a {
    font-size: 1.2rem;
    padding: 0.9rem 3.5rem;
  }

  .Image {
    width: 70%;
  }
}

/* Large Desktops (>= 1440px) */
@media screen and (min-width: 1440px) {
  .homeDescription {
    font-size: 70px;
  }

  .homeParagraph {
    font-size: 21px;
  }

  .Image {
    width: 60%;
  }
}
