.chart-container {
  width: 100%;
  height: 100%;
  min-height: 500px;
}
@media (max-width: 768px) {
  .tv-lightweight-charts table tr {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    border-bottom: 1px solid #2b2c2f;
    padding: 0;
    margin: 0;
  }
}
.mainBOX {
  padding: 10;
  padding-top: 0;
}

@media (max-width: 768px) {
  td {
    width: 1%;
    font-size: 16px;
    padding: 8px 0;
  }
  .mainBOX {
    padding: 0;
  }
}

.chartBtns {
  padding: 6px 12px;
  border-radius: 0%;
  border: 1px solid;
  border-image: linear-gradient(to top, rgba(0, 0, 0, 0.2), transparent) 1;
}

.liveChartBtns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.liveCHART {
  padding: 0;
}

.chartMain {
  overflow-x: clip;
  overflow-y: visible;
}

.coinSelectorMobile {
  position: relative;
}
.coinSelectorMobile button {
  background: linear-gradient(90deg, #66b544, #1a391d);
}
.coinSelectorMobile2 {
  position: relative;
}
.coinSelectorMobile2 button {
  background: linear-gradient(90deg, #66b544, #1a391d);
}
.nameProfit {
  display: none;
}
.coinAdd {
  display: block;
}
.lines {
  display: none;
}
.charting {
  justify-content: space-between;
}

.webCoinInfo {
  display: flex;
  flex-direction: row;
  border: 2px solid #10a055;
  top: 67px;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  background: rgb(224, 224, 224);
  z-index: 10001;
  width: fit-content;
}
.webCoinInfoT {
  display: flex;
  flex-direction: row;
  border: 2px solid #10a055;
  top: 50px;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  background: rgb(224, 224, 224);
  z-index: 10001;
  width: fit-content;
}
.coininfoBox {
  display: flex;
  width: 100%;
  flex-direction: row;
}

@media (max-width: 768px) {
  .webCoinInfo {
    display: none;
  }
  .webCoinInfoT {
    display: none;
  }
  .coinSelectorMobile {
    position: absolute;
    top: 50px;
    z-index: 100;
    left: 0;
  }
  .coinSelectorMobile button {
    background: rgb(224, 224, 224);
    width: 150px;
    border: 2px solid #10a055;
  }
  .coinSelectorMobile button:hover {
    background: rgb(224, 224, 224);
  }
  .nameProfit {
    display: block;
  }
  .coinAdd {
    display: none;
  }
  .lines {
    display: flex;
  }
  .coinSelectorMobile2 {
    position: absolute;
    top: 67px;
    z-index: 100;
    left: 0;
  }
  .coinSelectorMobile2 button {
    background: rgb(224, 224, 224);
    width: 200px;
    border: 2px solid #10a055;
  }
  .coinSelectorMobile2 button:hover {
    background: rgb(224, 224, 224);
  }
  .charting {
    justify-content: center;
    background: rgb(224, 224, 224);
  }
  .liveChartBtns {
    justify-content: center;
    background: rgb(224, 224, 224);
  }
}
@media (max-width: 480px) {
  .chartBtns {
    padding: 6px 10px;
  }
}
