.container {
  width: 100%;
  height: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.profileBox {
  width: 90%;
  background-color: #141518;
  padding: 2rem;
}

.title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 25px;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 35px;
}

.avatar {
  width: 65px;
  height: 65px;
  background-color: #007aff;
  border-radius: 50%;
  position: relative;
}

.email,
.userId,
.verified {
  margin: 2px 0;
  font-size: 14px;
}

.verified {
  color: #00ff7f;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.row {
  display: flex;
  gap: 20px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 90%;
  width: 100%;
  margin-top: 1rem;
}

.inputBox {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputBox label {
  margin-bottom: 5px;
  font-size: 12px;
  color: #aaa;
}

.inputBox input,
.inputBox select {
  width: 80%;
  padding: 12px 14px;
  border: 1px solid #3a3b3d;
  border-radius: 1px;
  background-color: transparent;
  color: white;
  font-size: 14px;
  transition: border-color 0.3s ease;
}

.inputBox input:focus,
.inputBox select:focus {
  outline: none;
  border-color: #0a84ff;
}

.forgot {
  font-size: 12px;
  color: #3ea6ff;
  text-decoration: none;
}

.forgot:hover {
  text-decoration: underline;
}

.actions {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.saveBtn {
  background-color: #1cb954;
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.saveBtn:hover {
  background-color: #18a34c;
}

.delete {
  color: red;
  text-decoration: none;
  font-size: 14px;
  align-self: flex-end;
}

.delete:hover {
  text-decoration: underline;
}

.logout {
  color: red;
  text-decoration: none;
  margin-top: 10px;
  width: 6rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 15px;
}

.logout:hover {
  text-decoration: underline;
}
.deleteBox,
.forgotBox {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  width: 80%;
}
@media (max-width: 1025px) {
  .container {
    width: 100%;
    flex-direction: column;
  }
  .profileBox {
    width: 90%;
  }
  .row {
    gap: 20px;
  }
  .inputBox {
    width: 100%;
  }
  .actions {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }
  .saveBtn {
    width: 100%;
    text-align: center;
  }
  .logout {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .profileBox {
    width: 80%;
  }
  .form{
    gap: 15px;
  }
  .row {
    flex-direction: column;
    gap: 15px;
  }
  .row {
    width: 100%;
    margin-top: 0;
  }
  .inputBox {
    width: 100%;
  }
  .inputBox input,
  .inputBox select {
    width: 100%;
    padding: 1rem 0.3rem;
  }
  .forgotBox,
  .deleteBox {
    width: 100%;
  }
}

@media (max-width: 560px) {
  .profileBox {
    max-width: 430px;
  }
  .forgot {
    font-size: 13px;
  }
  .delete {
    font-size: 13px;
  }
}

@media (max-width: 450px) {
  .inputBox input,
  .inputBox select {
    font-size: 11px;
  }
}
